<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indiancosmeticsbd.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndianCosmeticsBD.Dark"
        android:windowSoftInputMode="stateVisible|adjustPan">
        <activity android:name=".Views.Activity.Orders.OrderSubmitActivity"></activity>
        <activity android:name=".Views.Activity.Orders.OrderStatusActivity" />
        <activity android:name=".Views.Activity.Orders.ViewOrdersActivity" />
        <activity android:name=".Views.Activity.Orders.OrderListActivity" />
        <activity android:name=".Views.Activity.NotificationActivity" />
        <activity android:name=".Views.Activity.SearchActivity" />
        <activity android:name=".Views.Activity.SpeechTestActivity" />
        <activity android:name=".Views.Activity.ProductDetails.PhotoViewActivity" />
        <activity android:name=".Views.Activity.ProductDetails.ProductDetailsActivity" />
        <activity android:name=".Views.Activity.ProductListActivity" />
        <activity android:name=".Views.Activity.ProductCategoryItemActivity" />
        <activity android:name=".Views.Activity.Account.RegisterActivity" />
        <activity android:name=".Views.Activity.Account.SignInActivity" />
        <activity android:name=".Views.Activity.Account.AccountActivity" />
        <activity android:name=".Views.Activity.BottomNavActivities.CartActivity" />
        <activity android:name=".Views.Activity.BottomNavActivities.WishListActivity" />
        <activity android:name=".Views.Activity.BottomNavActivities.MainActivity" /> <!-- android:launchMode="singleTask" -->
        <activity android:name=".Views.Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>